--
-- PostgreSQL database dump
--

\restrict HMJF5Ut114hwjqNZXQCdDD3j6QAN8LFGudpvHfG5AcRQAB0zyag4H9BfcufIypm

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: m_bookmark_reasons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.m_bookmark_reasons (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean DEFAULT true NOT NULL,
    reason_code character varying(50) NOT NULL,
    reason_label character varying(100) NOT NULL,
    display_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE m_bookmark_reasons; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.m_bookmark_reasons IS 'Tenant-specific bookmark reason master data - managed via backend';


--
-- Name: COLUMN m_bookmark_reasons.reason_code; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_bookmark_reasons.reason_code IS 'Unique code within tenant (e.g., VIP, FOLLOW_UP)';


--
-- Name: COLUMN m_bookmark_reasons.reason_label; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_bookmark_reasons.reason_label IS 'Display label for UI (e.g., VIP Customer)';


--
-- Name: COLUMN m_bookmark_reasons.display_order; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_bookmark_reasons.display_order IS 'Sort order in dropdown (lower = higher priority)';


--
-- Name: m_bookmark_reasons_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.m_bookmark_reasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: m_bookmark_reasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.m_bookmark_reasons_id_seq OWNED BY public.m_bookmark_reasons.id;


--
-- Name: m_transaction_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.m_transaction_types (
    id integer NOT NULL,
    txn_code character varying(50) NOT NULL,
    txn_name character varying(255) NOT NULL,
    txn_type character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT m_transaction_types_txn_type_check CHECK (((txn_type)::text = ANY ((ARRAY['Addition'::character varying, 'Deduction'::character varying])::text[])))
);


--
-- Name: TABLE m_transaction_types; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.m_transaction_types IS 'Master data for transaction types (SIP, Purchase, Redemption, etc.)';


--
-- Name: COLUMN m_transaction_types.txn_code; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_transaction_types.txn_code IS 'Unique transaction code (e.g., SIP, PURCHASE)';


--
-- Name: COLUMN m_transaction_types.txn_name; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_transaction_types.txn_name IS 'Full name of transaction type';


--
-- Name: COLUMN m_transaction_types.txn_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.m_transaction_types.txn_type IS 'Addition or Deduction type';


--
-- Name: m_transaction_types_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.m_transaction_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: m_transaction_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.m_transaction_types_id_seq OWNED BY public.m_transaction_types.id;


--
-- Name: t_chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_chat_messages (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    session_id integer,
    message_type character varying(20) NOT NULL,
    content text NOT NULL,
    metadata jsonb,
    is_live boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_chat_messages; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_chat_messages IS 'Individual messages in AI chat sessions';


--
-- Name: COLUMN t_chat_messages.message_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_chat_messages.message_type IS 'Type: user, assistant, system';


--
-- Name: t_chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_chat_messages_id_seq OWNED BY public.t_chat_messages.id;


--
-- Name: t_chat_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_chat_sessions (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    user_id integer,
    session_name character varying(255),
    is_live boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_tenant_consistency CHECK (((tenant_id IS NOT NULL) AND (user_id IS NOT NULL)))
);


--
-- Name: TABLE t_chat_sessions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_chat_sessions IS 'AI chat conversation sessions for tracking context';


--
-- Name: t_chat_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_chat_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_chat_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_chat_sessions_id_seq OWNED BY public.t_chat_sessions.id;


--
-- Name: t_contact_channels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_contact_channels (
    id integer NOT NULL,
    contact_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    channel_type character varying(50) NOT NULL,
    channel_value character varying(255) NOT NULL,
    channel_subtype character varying(50) DEFAULT 'personal'::character varying,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT t_contact_channels_channel_subtype_check CHECK (((channel_subtype)::text = ANY ((ARRAY['personal'::character varying, 'work'::character varying, 'other'::character varying])::text[]))),
    CONSTRAINT t_contact_channels_channel_type_check CHECK (((channel_type)::text = ANY ((ARRAY['email'::character varying, 'mobile'::character varying, 'whatsapp'::character varying, 'instagram'::character varying, 'twitter'::character varying, 'linkedin'::character varying, 'other'::character varying])::text[])))
);


--
-- Name: TABLE t_contact_channels; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_contact_channels IS 'Flexible communication channels for contacts';


--
-- Name: COLUMN t_contact_channels.channel_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_contact_channels.channel_type IS 'Type: email, mobile, whatsapp, social media';


--
-- Name: COLUMN t_contact_channels.is_primary; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_contact_channels.is_primary IS 'Primary channel for this type';


--
-- Name: t_contact_channels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_contact_channels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_contact_channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_contact_channels_id_seq OWNED BY public.t_contact_channels.id;


--
-- Name: t_contacts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_contacts (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    is_customer boolean DEFAULT false,
    prefix character varying(10) NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    CONSTRAINT t_contacts_prefix_check CHECK (((prefix)::text = ANY ((ARRAY['Mr'::character varying, 'Mrs'::character varying, 'Ms'::character varying, 'Dr'::character varying, 'Prof'::character varying, 'Sri'::character varying])::text[])))
);


--
-- Name: TABLE t_contacts; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_contacts IS 'Base contact information - extended by customers table';


--
-- Name: COLUMN t_contacts.is_customer; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_contacts.is_customer IS 'Flag to indicate if contact is also a customer';


--
-- Name: COLUMN t_contacts.prefix; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_contacts.prefix IS 'Title: Mr, Mrs, Ms, Dr, Prof, Sri';


--
-- Name: t_contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_contacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_contacts_id_seq OWNED BY public.t_contacts.id;


--
-- Name: t_customer_addresses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_customer_addresses (
    id integer NOT NULL,
    customer_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    address_type character varying(50) DEFAULT 'residential'::character varying,
    address_line1 character varying(255) NOT NULL,
    address_line2 character varying(255),
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    country character varying(100) DEFAULT 'India'::character varying,
    pincode character varying(20) NOT NULL,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT t_customer_addresses_address_type_check CHECK (((address_type)::text = ANY ((ARRAY['residential'::character varying, 'office'::character varying, 'mailing'::character varying, 'permanent'::character varying, 'temporary'::character varying, 'other'::character varying])::text[])))
);


--
-- Name: TABLE t_customer_addresses; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_customer_addresses IS 'Multiple addresses per customer with type classification';


--
-- Name: COLUMN t_customer_addresses.is_primary; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_addresses.is_primary IS 'Primary address for the customer';


--
-- Name: t_customer_addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_customer_addresses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_customer_addresses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_customer_addresses_id_seq OWNED BY public.t_customer_addresses.id;


--
-- Name: t_customer_bookmarks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_customer_bookmarks (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean DEFAULT true NOT NULL,
    customer_id integer NOT NULL,
    user_id integer NOT NULL,
    reason_id integer,
    custom_reason character varying(100),
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_bookmark_reason CHECK (((reason_id IS NOT NULL) OR (custom_reason IS NOT NULL)))
);


--
-- Name: TABLE t_customer_bookmarks; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_customer_bookmarks IS 'User bookmarks for tracking important customers with reasons/tags';


--
-- Name: COLUMN t_customer_bookmarks.reason_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_bookmarks.reason_id IS 'FK to master reasons - preferred for predefined tags';


--
-- Name: COLUMN t_customer_bookmarks.custom_reason; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_bookmarks.custom_reason IS 'Free text when user selects "Other" or custom tag';


--
-- Name: COLUMN t_customer_bookmarks.notes; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_bookmarks.notes IS 'Optional notes about why customer is bookmarked';


--
-- Name: t_customer_bookmarks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_customer_bookmarks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_customer_bookmarks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_customer_bookmarks_id_seq OWNED BY public.t_customer_bookmarks.id;


--
-- Name: t_customer_master_portfolio; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_customer_master_portfolio (
    id integer NOT NULL,
    customer_id integer,
    scheme_code character varying(50),
    scheme_name character varying(255),
    folio_no character varying(100),
    category character varying(100),
    sub_category character varying(100),
    fund_name character varying(255),
    start_date date,
    tenant_id integer,
    is_live boolean,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_customer_master_portfolio; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_customer_master_portfolio IS 'Customer portfolio master records with categorization';


--
-- Name: COLUMN t_customer_master_portfolio.category; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_master_portfolio.category IS 'Fund category (e.g., Equity, Debt, Hybrid)';


--
-- Name: COLUMN t_customer_master_portfolio.sub_category; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_master_portfolio.sub_category IS 'Fund sub-category (e.g., Large Cap, Mid Cap)';


--
-- Name: COLUMN t_customer_master_portfolio.fund_name; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_master_portfolio.fund_name IS 'Full fund name';


--
-- Name: COLUMN t_customer_master_portfolio.start_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customer_master_portfolio.start_date IS 'Date of first transaction in this portfolio';


--
-- Name: t_customer_master_portfolio_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_customer_master_portfolio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_customer_master_portfolio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_customer_master_portfolio_id_seq OWNED BY public.t_customer_master_portfolio.id;


--
-- Name: t_transaction_table; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_transaction_table (
    id integer NOT NULL,
    customer_id integer,
    scheme_code character varying(50),
    scheme_name character varying(255),
    folio_no character varying(100),
    txn_type_id integer,
    txn_date date,
    total_amount numeric(15,2),
    units numeric(15,4),
    nav numeric(10,4),
    stamp_duty numeric(10,2),
    is_potential_duplicate boolean DEFAULT false,
    portfolio_flag boolean DEFAULT true,
    staging_record_id integer,
    import_session_id integer,
    duplicate_reason text,
    tenant_id integer,
    is_live boolean,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    scheme_id integer,
    txn_description text,
    txn_source character varying(100),
    stt numeric(15,2) DEFAULT 0,
    tds numeric(15,2) DEFAULT 0
);


--
-- Name: TABLE t_transaction_table; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_transaction_table IS 'Investment transaction records with import tracking';


--
-- Name: COLUMN t_transaction_table.portfolio_flag; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_transaction_table.portfolio_flag IS 'Include/exclude from portfolio totals';


--
-- Name: COLUMN t_transaction_table.staging_record_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_transaction_table.staging_record_id IS 'Reference to the staging record that created this transaction';


--
-- Name: COLUMN t_transaction_table.import_session_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_transaction_table.import_session_id IS 'Reference to the import session that created this transaction';


--
-- Name: COLUMN t_transaction_table.duplicate_reason; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_transaction_table.duplicate_reason IS 'Explanation if this transaction is marked as a potential duplicate';


--
-- Name: t_customer_portfolio_totals; Type: MATERIALIZED VIEW; Schema: public; Owner: -
--

CREATE MATERIALIZED VIEW public.t_customer_portfolio_totals AS
 SELECT p.tenant_id,
    p.is_live,
    p.customer_id,
    p.scheme_code,
    p.scheme_name,
    p.folio_no,
    p.category,
    p.sub_category,
    p.fund_name,
    p.start_date,
    count(DISTINCT t.id) AS transaction_count,
    count(DISTINCT
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.id
            ELSE NULL::integer
        END) AS purchase_count,
    count(DISTINCT
        CASE
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.id
            ELSE NULL::integer
        END) AS redemption_count,
    COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.units
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN (- t.units)
            ELSE (0)::numeric
        END), (0)::numeric) AS total_units,
    (COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.total_amount
            ELSE (0)::numeric
        END), (0)::numeric) - COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.total_amount
            ELSE (0)::numeric
        END), (0)::numeric)) AS total_invested,
    ( SELECT t_transaction_table.nav
           FROM public.t_transaction_table
          WHERE ((t_transaction_table.customer_id = p.customer_id) AND ((t_transaction_table.scheme_code)::text = (p.scheme_code)::text) AND (t_transaction_table.is_active = true))
          ORDER BY t_transaction_table.txn_date DESC
         LIMIT 1) AS latest_nav,
    (COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.units
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN (- t.units)
            ELSE (0)::numeric
        END), (0)::numeric) * COALESCE(( SELECT t_transaction_table.nav
           FROM public.t_transaction_table
          WHERE ((t_transaction_table.customer_id = p.customer_id) AND ((t_transaction_table.scheme_code)::text = (p.scheme_code)::text) AND (t_transaction_table.is_active = true))
          ORDER BY t_transaction_table.txn_date DESC
         LIMIT 1), (0)::numeric)) AS current_value,
    ((COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.units
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN (- t.units)
            ELSE (0)::numeric
        END), (0)::numeric) * COALESCE(( SELECT t_transaction_table.nav
           FROM public.t_transaction_table
          WHERE ((t_transaction_table.customer_id = p.customer_id) AND ((t_transaction_table.scheme_code)::text = (p.scheme_code)::text) AND (t_transaction_table.is_active = true))
          ORDER BY t_transaction_table.txn_date DESC
         LIMIT 1), (0)::numeric)) - (COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.total_amount
            ELSE (0)::numeric
        END), (0)::numeric) - COALESCE(sum(
        CASE
            WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.total_amount
            ELSE (0)::numeric
        END), (0)::numeric))) AS total_returns,
        CASE
            WHEN ((COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric) - COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric)) > (0)::numeric) THEN ((((COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.units
                WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN (- t.units)
                ELSE (0)::numeric
            END), (0)::numeric) * COALESCE(( SELECT t_transaction_table.nav
               FROM public.t_transaction_table
              WHERE ((t_transaction_table.customer_id = p.customer_id) AND ((t_transaction_table.scheme_code)::text = (p.scheme_code)::text) AND (t_transaction_table.is_active = true))
              ORDER BY t_transaction_table.txn_date DESC
             LIMIT 1), (0)::numeric)) - (COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric) - COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric))) / (COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Addition'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric) - COALESCE(sum(
            CASE
                WHEN ((tt.txn_type)::text = 'Deduction'::text) THEN t.total_amount
                ELSE (0)::numeric
            END), (0)::numeric))) * (100)::numeric)
            ELSE (0)::numeric
        END AS return_percentage,
    max(t.txn_date) AS last_transaction_date,
    p.is_active,
    p.id AS portfolio_id,
    now() AS last_refreshed_at
   FROM ((public.t_customer_master_portfolio p
     LEFT JOIN public.t_transaction_table t ON (((t.customer_id = p.customer_id) AND ((t.scheme_code)::text = (p.scheme_code)::text) AND (t.tenant_id = p.tenant_id) AND (t.is_live = p.is_live) AND (t.is_active = true) AND (t.portfolio_flag = true))))
     LEFT JOIN public.m_transaction_types tt ON ((t.txn_type_id = tt.id)))
  WHERE (p.is_active = true)
  GROUP BY p.id, p.tenant_id, p.is_live, p.customer_id, p.scheme_code, p.scheme_name, p.folio_no, p.category, p.sub_category, p.fund_name, p.start_date, p.is_active
  WITH NO DATA;


--
-- Name: MATERIALIZED VIEW t_customer_portfolio_totals; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON MATERIALIZED VIEW public.t_customer_portfolio_totals IS 'Pre-calculated portfolio totals with returns and performance metrics';


--
-- Name: t_customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_customers (
    id integer NOT NULL,
    contact_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    pan character varying(10),
    iwell_code character varying(100),
    date_of_birth date,
    anniversary_date date,
    survival_status character varying(20) DEFAULT 'alive'::character varying,
    date_of_death date,
    family_head_name character varying(255),
    family_head_iwell_code character varying(100),
    referred_by integer,
    referred_by_name character varying(255),
    onboarding_form_id integer,
    onboarding_status character varying(50) DEFAULT 'pending'::character varying,
    jtbd_count integer DEFAULT 0,
    has_jtbd_setup boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    CONSTRAINT death_date_logic CHECK (((((survival_status)::text = 'alive'::text) AND (date_of_death IS NULL)) OR (((survival_status)::text = 'deceased'::text) AND (date_of_death IS NOT NULL)))),
    CONSTRAINT t_customers_onboarding_status_check CHECK (((onboarding_status)::text = ANY ((ARRAY['pending'::character varying, 'in_progress'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT t_customers_survival_status_check CHECK (((survival_status)::text = ANY ((ARRAY['alive'::character varying, 'deceased'::character varying])::text[])))
);


--
-- Name: TABLE t_customers; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_customers IS 'Customer records with financial and personal data';


--
-- Name: COLUMN t_customers.pan; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customers.pan IS 'PAN card number - stored as PLAIN TEXT';


--
-- Name: COLUMN t_customers.iwell_code; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customers.iwell_code IS 'IWELL code - stored as PLAIN TEXT';


--
-- Name: COLUMN t_customers.survival_status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customers.survival_status IS 'Alive or deceased status for tracking';


--
-- Name: COLUMN t_customers.jtbd_count; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customers.jtbd_count IS 'Count of active JTBD configurations for this customer';


--
-- Name: COLUMN t_customers.has_jtbd_setup; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_customers.has_jtbd_setup IS 'Flag indicating if customer has any JTBD configurations';


--
-- Name: t_customers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_customers_id_seq OWNED BY public.t_customers.id;


--
-- Name: t_file_uploads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_file_uploads (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    file_type character varying(50) NOT NULL,
    original_filename character varying(255) NOT NULL,
    stored_filename character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    folder_path character varying(500),
    file_size bigint,
    mime_type character varying(100),
    customer_id integer,
    processing_status character varying(50) DEFAULT 'pending'::character varying,
    processed_records integer DEFAULT 0,
    failed_records integer DEFAULT 0,
    error_details text,
    is_processed boolean DEFAULT false,
    processed_folder_path character varying(500),
    uploaded_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone,
    CONSTRAINT t_file_uploads_processing_status_check CHECK (((processing_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


--
-- Name: TABLE t_file_uploads; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_file_uploads IS 'Track all uploaded files for import and document management';


--
-- Name: COLUMN t_file_uploads.file_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_file_uploads.file_type IS 'Type: customer_import, transaction_import, customer_document, scheme_import';


--
-- Name: COLUMN t_file_uploads.updated_at; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_file_uploads.updated_at IS 'Timestamp of last update to this record';


--
-- Name: t_file_uploads_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_file_uploads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_file_uploads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_file_uploads_id_seq OWNED BY public.t_file_uploads.id;


--
-- Name: t_goal_alerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_goal_alerts (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean NOT NULL,
    goal_id integer NOT NULL,
    customer_id integer NOT NULL,
    alert_type character varying(50) NOT NULL,
    severity character varying(20) NOT NULL,
    message text NOT NULL,
    action_required character varying(100),
    action_details jsonb,
    is_acknowledged boolean DEFAULT false,
    acknowledged_at timestamp without time zone,
    acknowledged_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: t_goal_alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_goal_alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_goal_alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_goal_alerts_id_seq OWNED BY public.t_goal_alerts.id;


--
-- Name: t_goal_progress_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_goal_progress_snapshots (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean NOT NULL,
    goal_id integer NOT NULL,
    snapshot_date date NOT NULL,
    current_value numeric(15,2) NOT NULL,
    monthly_contribution numeric(15,2) NOT NULL,
    projected_corpus numeric(15,2),
    projected_achievement_date date,
    probability_of_success numeric(5,2),
    on_track boolean,
    deviation_percentage numeric(5,2),
    recalculation_trigger character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: t_goal_progress_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_goal_progress_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_goal_progress_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_goal_progress_snapshots_id_seq OWNED BY public.t_goal_progress_snapshots.id;


--
-- Name: t_import_field_mappings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_import_field_mappings (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    import_type character varying(50) NOT NULL,
    template_name character varying(255) NOT NULL,
    template_version integer DEFAULT 1,
    field_mappings jsonb NOT NULL,
    validation_rules jsonb,
    is_default boolean DEFAULT false,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_import_field_mappings; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_import_field_mappings IS 'Field mapping templates for different import types';


--
-- Name: COLUMN t_import_field_mappings.import_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_field_mappings.import_type IS 'Type: CustomerData, TransactionData, SchemeData, or custom types';


--
-- Name: COLUMN t_import_field_mappings.field_mappings; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_field_mappings.field_mappings IS 'JSON structure defining source to target field mappings';


--
-- Name: t_import_field_mappings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_import_field_mappings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_import_field_mappings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_import_field_mappings_id_seq OWNED BY public.t_import_field_mappings.id;


--
-- Name: t_import_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_import_logs (
    id integer NOT NULL,
    file_upload_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    import_type character varying(50) NOT NULL,
    total_records integer,
    successful_records integer,
    failed_records integer,
    duplicate_records integer,
    import_summary jsonb,
    error_details text,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    imported_by integer
);


--
-- Name: TABLE t_import_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_import_logs IS 'Audit trail for import operations';


--
-- Name: t_import_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_import_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_import_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_import_logs_id_seq OWNED BY public.t_import_logs.id;


--
-- Name: t_import_record_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_import_record_results (
    id integer NOT NULL,
    import_session_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    row_number integer NOT NULL,
    raw_data jsonb NOT NULL,
    status character varying(50) NOT NULL,
    error_messages text[],
    warnings text[],
    created_contact_id integer,
    created_customer_id integer,
    processed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT t_import_record_results_status_check CHECK (((status)::text = ANY ((ARRAY['success'::character varying, 'failed'::character varying, 'duplicate'::character varying, 'skipped'::character varying])::text[])))
);


--
-- Name: TABLE t_import_record_results; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_import_record_results IS 'Detailed results for each imported record';


--
-- Name: t_import_record_results_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_import_record_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_import_record_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_import_record_results_id_seq OWNED BY public.t_import_record_results.id;


--
-- Name: t_import_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_import_sessions (
    id integer NOT NULL,
    session_name character varying(255) NOT NULL,
    file_upload_id integer,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    import_type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    total_records integer DEFAULT 0,
    processed_records integer DEFAULT 0,
    successful_records integer DEFAULT 0,
    failed_records integer DEFAULT 0,
    duplicate_records integer DEFAULT 0,
    staging_completed_at timestamp without time zone,
    staging_total_rows integer DEFAULT 0,
    batch_size integer DEFAULT 100,
    current_batch integer DEFAULT 0,
    total_batches integer DEFAULT 0,
    last_processed_row integer DEFAULT 0,
    processing_metadata jsonb,
    processing_started_at timestamp without time zone,
    processing_completed_at timestamp without time zone,
    error_summary text,
    n8n_webhook_id character varying(255),
    n8n_execution_id character varying(255),
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT t_import_sessions_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'staged'::character varying, 'processing'::character varying, 'completed'::character varying, 'completed_with_errors'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: TABLE t_import_sessions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_import_sessions IS 'Track import processing sessions with batch progress';


--
-- Name: COLUMN t_import_sessions.import_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_sessions.import_type IS 'Type: CustomerData, TransactionData, SchemeData, or custom types';


--
-- Name: COLUMN t_import_sessions.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_sessions.status IS 'Status: pending, staged, processing, completed, completed_with_errors, failed, cancelled';


--
-- Name: COLUMN t_import_sessions.staging_total_rows; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_sessions.staging_total_rows IS 'Total rows inserted into staging table';


--
-- Name: t_import_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_import_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_import_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_import_sessions_id_seq OWNED BY public.t_import_sessions.id;


--
-- Name: t_import_staging_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_import_staging_data (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean DEFAULT false,
    session_id integer NOT NULL,
    import_type character varying(50) NOT NULL,
    row_number integer NOT NULL,
    raw_data jsonb NOT NULL,
    mapped_data jsonb,
    processing_status character varying(20) DEFAULT 'pending'::character varying,
    error_messages text[],
    warnings text[],
    created_record_id integer,
    created_record_type character varying(50),
    processed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processing_metadata jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT chk_processing_status CHECK (((processing_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'success'::character varying, 'failed'::character varying, 'duplicate'::character varying, 'skipped'::character varying, 'orphan'::character varying])::text[]))),
    CONSTRAINT t_import_staging_data_processing_status_check CHECK (((processing_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'success'::character varying, 'failed'::character varying, 'skipped'::character varying, 'duplicate'::character varying])::text[])))
);


--
-- Name: TABLE t_import_staging_data; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_import_staging_data IS 'Staging table for ETL import processing';


--
-- Name: COLUMN t_import_staging_data.import_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_staging_data.import_type IS 'Type: CustomerData, TransactionData, SchemeData, or custom types';


--
-- Name: COLUMN t_import_staging_data.raw_data; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_staging_data.raw_data IS 'Original row data as received from uploaded file';


--
-- Name: COLUMN t_import_staging_data.mapped_data; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_import_staging_data.mapped_data IS 'Transformed data after applying field mappings';


--
-- Name: t_import_staging_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_import_staging_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_import_staging_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_import_staging_data_id_seq OWNED BY public.t_import_staging_data.id;


--
-- Name: t_jtbd_configurations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_jtbd_configurations (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean DEFAULT true NOT NULL,
    customer_id integer NOT NULL,
    jtbd_type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    priority character varying(20) DEFAULT 'medium'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    config_data jsonb NOT NULL,
    next_alert_date date,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: TABLE t_jtbd_configurations; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_jtbd_configurations IS 'Customer alert and reminder configurations';


--
-- Name: COLUMN t_jtbd_configurations.jtbd_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_jtbd_configurations.jtbd_type IS 'Type: portfolio_alert, time_based, profile_trigger';


--
-- Name: t_jtbd_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_jtbd_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_jtbd_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_jtbd_configurations_id_seq OWNED BY public.t_jtbd_configurations.id;


--
-- Name: t_market_data_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_market_data_records (
    id integer NOT NULL,
    index_id integer NOT NULL,
    date date NOT NULL,
    open numeric(15,2) NOT NULL,
    high numeric(15,2) NOT NULL,
    low numeric(15,2) NOT NULL,
    close numeric(15,2) NOT NULL,
    volume bigint,
    adj_close numeric(15,2),
    data_source character varying(50) DEFAULT 'yahoo_finance'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    daily_return numeric(10,4),
    return_1w numeric(10,4),
    return_1m numeric(10,4),
    return_3m numeric(10,4),
    return_6m numeric(10,4),
    return_1y numeric(10,4),
    return_ytd numeric(10,4),
    return_all numeric(10,4),
    sd_7d numeric(10,4),
    sd_14d numeric(10,4),
    sd_21d numeric(10,4),
    sd_42d numeric(10,4),
    sd_3m numeric(10,4),
    sd_6m numeric(10,4),
    count_3m integer,
    count_42d integer,
    sharpe_ratio numeric(10,4),
    max_drawdown numeric(10,4),
    total_risk numeric(10,4),
    cagr numeric(10,4),
    metrics_calculated_at timestamp without time zone
);


--
-- Name: TABLE t_market_data_records; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_market_data_records IS 'Historical OHLCV data for market indices';


--
-- Name: COLUMN t_market_data_records.adj_close; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_market_data_records.adj_close IS 'Adjusted close price (for splits/dividends)';


--
-- Name: t_market_data_records_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_market_data_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_market_data_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_market_data_records_id_seq OWNED BY public.t_market_data_records.id;


--
-- Name: t_market_download_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_market_download_jobs (
    id integer NOT NULL,
    job_type character varying(20) NOT NULL,
    index_id integer NOT NULL,
    start_date date,
    end_date date,
    status character varying(20) DEFAULT 'pending'::character varying,
    error_details text,
    records_inserted integer DEFAULT 0,
    records_updated integer DEFAULT 0,
    records_skipped integer DEFAULT 0,
    execution_time_ms integer,
    triggered_by character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone
);


--
-- Name: TABLE t_market_download_jobs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_market_download_jobs IS 'Tracks download jobs for market data';


--
-- Name: t_market_download_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_market_download_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_market_download_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_market_download_jobs_id_seq OWNED BY public.t_market_download_jobs.id;


--
-- Name: t_market_download_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_market_download_logs (
    id integer NOT NULL,
    index_id integer,
    job_id integer,
    download_type character varying(20),
    status character varying(20),
    records_processed integer DEFAULT 0,
    date_range_start date,
    date_range_end date,
    error_message text,
    duration_seconds integer,
    triggered_by character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_market_download_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_market_download_logs IS 'Audit log for all download activities';


--
-- Name: t_market_download_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_market_download_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_market_download_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_market_download_logs_id_seq OWNED BY public.t_market_download_logs.id;


--
-- Name: t_market_eod_scheduler; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_market_eod_scheduler (
    id integer NOT NULL,
    is_enabled boolean DEFAULT true,
    download_time time without time zone DEFAULT '20:00:00'::time without time zone,
    retry_interval_minutes integer DEFAULT 30,
    max_retries integer DEFAULT 6,
    retry_cutoff_time time without time zone DEFAULT '23:00:00'::time without time zone,
    last_execution_at timestamp without time zone,
    next_execution_at timestamp without time zone,
    execution_count integer DEFAULT 0,
    failure_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_market_eod_scheduler; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_market_eod_scheduler IS 'Global EOD scheduler configuration';


--
-- Name: t_market_eod_scheduler_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_market_eod_scheduler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_market_eod_scheduler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_market_eod_scheduler_id_seq OWNED BY public.t_market_eod_scheduler.id;


--
-- Name: t_market_indices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_market_indices (
    id integer NOT NULL,
    index_code character varying(50) NOT NULL,
    index_name character varying(200) NOT NULL,
    yahoo_symbol character varying(50) NOT NULL,
    category character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    priority integer DEFAULT 0,
    total_records integer DEFAULT 0,
    earliest_date date,
    latest_date date,
    last_download_status character varying(20),
    last_download_at timestamp without time zone,
    last_download_error text,
    historical_data_available boolean DEFAULT false,
    next_eod_retry_at timestamp without time zone,
    eod_retry_count integer DEFAULT 0,
    last_successful_eod_download_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: TABLE t_market_indices; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_market_indices IS 'Master table for NSE market indices with Yahoo Finance integration';


--
-- Name: COLUMN t_market_indices.yahoo_symbol; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_market_indices.yahoo_symbol IS 'Yahoo Finance symbol (e.g., ^NSEI for Nifty 50)';


--
-- Name: COLUMN t_market_indices.eod_retry_count; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_market_indices.eod_retry_count IS 'Current retry count for today EOD download (resets daily)';


--
-- Name: t_market_indices_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_market_indices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_market_indices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_market_indices_id_seq OWNED BY public.t_market_indices.id;


--
-- Name: t_monthly_portfolio_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_monthly_portfolio_snapshots (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    is_live boolean NOT NULL,
    customer_id integer NOT NULL,
    snapshot_month_end date NOT NULL,
    total_invested numeric(18,2),
    current_value numeric(18,2),
    total_returns numeric(18,2),
    return_percentage numeric(10,2),
    total_units numeric(18,4),
    total_schemes integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: t_monthly_portfolio_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_monthly_portfolio_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_monthly_portfolio_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_monthly_portfolio_snapshots_id_seq OWNED BY public.t_monthly_portfolio_snapshots.id;


--
-- Name: t_nav_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_nav_data (
    id integer NOT NULL,
    scheme_id integer NOT NULL,
    scheme_code character varying(100) NOT NULL,
    nav_date date NOT NULL,
    nav_value numeric(15,4) NOT NULL,
    repurchase_price numeric(15,4),
    sale_price numeric(15,4),
    is_live boolean DEFAULT true,
    data_source character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    daily_return numeric(10,4),
    return_1w numeric(10,4),
    return_1m numeric(10,4),
    return_3m numeric(10,4),
    return_6m numeric(10,4),
    return_1y numeric(10,4),
    return_ytd numeric(10,4),
    return_all numeric(10,4),
    sd_7d numeric(10,4),
    sd_14d numeric(10,4),
    sd_21d numeric(10,4),
    sd_42d numeric(10,4),
    sd_3m numeric(10,4),
    sd_6m numeric(10,4),
    count_3m integer,
    count_42d integer,
    sharpe_ratio numeric(10,4),
    max_drawdown numeric(10,4),
    total_risk numeric(10,4),
    cagr numeric(10,4),
    metrics_calculated_at timestamp without time zone,
    CONSTRAINT t_nav_data_data_source_check CHECK (((data_source)::text = ANY ((ARRAY['daily'::character varying, 'historical'::character varying, 'weekly'::character varying])::text[])))
);


--
-- Name: TABLE t_nav_data; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_nav_data IS 'Historical NAV data for mutual fund schemes';


--
-- Name: COLUMN t_nav_data.daily_return; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.daily_return IS 'Daily return percentage (today vs yesterday)';


--
-- Name: COLUMN t_nav_data.return_1w; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_1w IS '1-week return percentage';


--
-- Name: COLUMN t_nav_data.return_1m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_1m IS '1-month return percentage';


--
-- Name: COLUMN t_nav_data.return_3m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_3m IS '3-month return percentage';


--
-- Name: COLUMN t_nav_data.return_6m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_6m IS '6-month return percentage';


--
-- Name: COLUMN t_nav_data.return_1y; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_1y IS '1-year return percentage';


--
-- Name: COLUMN t_nav_data.return_ytd; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_ytd IS 'Year-to-date return percentage';


--
-- Name: COLUMN t_nav_data.return_all; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.return_all IS 'All-time return percentage (since inception)';


--
-- Name: COLUMN t_nav_data.sd_7d; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_7d IS '7-day rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.sd_14d; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_14d IS '14-day rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.sd_21d; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_21d IS '21-day rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.sd_42d; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_42d IS '42-day rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.sd_3m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_3m IS '3-month rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.sd_6m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sd_6m IS '6-month rolling standard deviation (volatility)';


--
-- Name: COLUMN t_nav_data.count_3m; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.count_3m IS 'Number of data points available in 3-month period';


--
-- Name: COLUMN t_nav_data.count_42d; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.count_42d IS 'Number of data points available in 42-day period';


--
-- Name: COLUMN t_nav_data.sharpe_ratio; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.sharpe_ratio IS 'Sharpe ratio (risk-adjusted return metric)';


--
-- Name: COLUMN t_nav_data.max_drawdown; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.max_drawdown IS 'Maximum drawdown percentage (largest peak-to-trough decline)';


--
-- Name: COLUMN t_nav_data.total_risk; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.total_risk IS 'Total risk metric (composite volatility measure)';


--
-- Name: COLUMN t_nav_data.cagr; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.cagr IS 'Compound Annual Growth Rate percentage';


--
-- Name: COLUMN t_nav_data.metrics_calculated_at; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_nav_data.metrics_calculated_at IS 'Timestamp when metrics were last calculated';


--
-- Name: t_nav_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_nav_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_nav_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_nav_data_id_seq OWNED BY public.t_nav_data.id;


--
-- Name: t_nav_download_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_nav_download_jobs (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1 NOT NULL,
    job_type character varying(20) NOT NULL,
    scheme_ids integer[] NOT NULL,
    scheduled_date timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    start_date date,
    end_date date,
    n8n_execution_id character varying(255),
    result_summary jsonb,
    error_details text,
    is_live boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    CONSTRAINT t_nav_download_jobs_job_type_check CHECK (((job_type)::text = ANY ((ARRAY['daily'::character varying, 'historical'::character varying, 'weekly'::character varying])::text[]))),
    CONSTRAINT t_nav_download_jobs_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'running'::character varying, 'completed'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: TABLE t_nav_download_jobs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_nav_download_jobs IS 'Track NAV download jobs for schemes';


--
-- Name: t_nav_download_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_nav_download_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_nav_download_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_nav_download_jobs_id_seq OWNED BY public.t_nav_download_jobs.id;


--
-- Name: t_nav_schedule_executions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_nav_schedule_executions (
    id integer NOT NULL,
    scheduler_config_id integer NOT NULL,
    execution_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status character varying(20) NOT NULL,
    job_id integer,
    n8n_execution_id character varying(100),
    error_message text,
    execution_duration_ms integer,
    CONSTRAINT t_nav_schedule_executions_status_check CHECK (((status)::text = ANY ((ARRAY['success'::character varying, 'failed'::character varying, 'skipped'::character varying, 'running'::character varying])::text[])))
);


--
-- Name: TABLE t_nav_schedule_executions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_nav_schedule_executions IS 'Execution history for NAV scheduler';


--
-- Name: t_nav_schedule_executions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_nav_schedule_executions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_nav_schedule_executions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_nav_schedule_executions_id_seq OWNED BY public.t_nav_schedule_executions.id;


--
-- Name: t_nav_scheduler_configs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_nav_scheduler_configs (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    user_id integer NOT NULL,
    is_live boolean NOT NULL,
    schedule_type character varying(20) NOT NULL,
    cron_expression character varying(100) NOT NULL,
    download_time character varying(5) NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL,
    n8n_webhook_url text,
    last_executed_at timestamp without time zone,
    next_execution_at timestamp without time zone,
    execution_count integer DEFAULT 0 NOT NULL,
    failure_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT t_nav_scheduler_configs_schedule_type_check CHECK (((schedule_type)::text = ANY ((ARRAY['daily'::character varying, 'weekly'::character varying, 'custom'::character varying])::text[])))
);


--
-- Name: TABLE t_nav_scheduler_configs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_nav_scheduler_configs IS 'Scheduler configurations for NAV downloads';


--
-- Name: t_nav_scheduler_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_nav_scheduler_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_nav_scheduler_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_nav_scheduler_configs_id_seq OWNED BY public.t_nav_scheduler_configs.id;


--
-- Name: t_scheme_bookmarks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_scheme_bookmarks (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1 NOT NULL,
    user_id integer NOT NULL,
    scheme_id integer NOT NULL,
    scheme_code character varying(100) NOT NULL,
    scheme_name character varying(500) NOT NULL,
    amc_name character varying(255),
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    daily_download_enabled boolean DEFAULT false,
    download_time character varying(5) DEFAULT '22:00'::character varying,
    historical_download_completed boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    alias_name character varying(255)
);


--
-- Name: TABLE t_scheme_bookmarks; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_scheme_bookmarks IS 'User bookmarks for tracking specific schemes';


--
-- Name: COLUMN t_scheme_bookmarks.alias_name; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_bookmarks.alias_name IS 'Custom scheme name (tenant preference). Falls back to scheme_name if NULL';


--
-- Name: t_scheme_bookmarks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_scheme_bookmarks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_scheme_bookmarks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_scheme_bookmarks_id_seq OWNED BY public.t_scheme_bookmarks.id;


--
-- Name: t_scheme_details; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_scheme_details (
    id integer NOT NULL,
    tenant_id integer,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    amc_name character varying(255),
    scheme_code character varying(100),
    scheme_name character varying(500) NOT NULL,
    scheme_type_id integer,
    scheme_category_id integer,
    scheme_nav_name character varying(500),
    scheme_minimum_amount numeric(15,2),
    launch_date date,
    closure_date date,
    isin_div_payout character varying(50),
    isin_growth character varying(50),
    isin_div_reinvestment character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    last_nav_download_date date,
    last_nav_download_status character varying(20),
    last_nav_download_error text,
    historical_data_available boolean DEFAULT false,
    earliest_nav_date date,
    latest_nav_date date,
    total_nav_records integer DEFAULT 0,
    CONSTRAINT t_scheme_details_last_nav_download_status_check CHECK (((last_nav_download_status)::text = ANY ((ARRAY['success'::character varying, 'failed'::character varying, 'in_progress'::character varying, NULL::character varying])::text[])))
);


--
-- Name: TABLE t_scheme_details; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_scheme_details IS 'Mutual fund scheme details and metadata';


--
-- Name: COLUMN t_scheme_details.scheme_code; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_details.scheme_code IS 'Unique scheme identifier from AMFI';


--
-- Name: COLUMN t_scheme_details.last_nav_download_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_details.last_nav_download_date IS 'Last NAV download attempt date (global)';


--
-- Name: COLUMN t_scheme_details.historical_data_available; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_details.historical_data_available IS 'Whether historical NAV data has been downloaded';


--
-- Name: COLUMN t_scheme_details.total_nav_records; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_details.total_nav_records IS 'Count of NAV records in t_nav_data';


--
-- Name: t_scheme_details_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_scheme_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_scheme_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_scheme_details_id_seq OWNED BY public.t_scheme_details.id;


--
-- Name: t_scheme_masters; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_scheme_masters (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    master_type character varying(50),
    code character varying(50),
    name character varying(255) NOT NULL,
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT t_scheme_masters_master_type_check CHECK (((master_type)::text = ANY ((ARRAY['scheme_type'::character varying, 'scheme_category'::character varying])::text[])))
);


--
-- Name: TABLE t_scheme_masters; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_scheme_masters IS 'Master data for scheme types and categories';


--
-- Name: COLUMN t_scheme_masters.master_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_scheme_masters.master_type IS 'Type: scheme_type or scheme_category';


--
-- Name: t_scheme_masters_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_scheme_masters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_scheme_masters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_scheme_masters_id_seq OWNED BY public.t_scheme_masters.id;


--
-- Name: t_system_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_system_logs (
    id bigint NOT NULL,
    level character varying(10) NOT NULL,
    source character varying(50) NOT NULL,
    message text NOT NULL,
    context text,
    user_id integer,
    tenant_id integer,
    metadata jsonb DEFAULT '{}'::jsonb,
    stack_trace text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT t_system_logs_level_check CHECK (((level)::text = ANY ((ARRAY['error'::character varying, 'warn'::character varying, 'info'::character varying])::text[])))
);


--
-- Name: TABLE t_system_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_system_logs IS 'System-wide logs for errors, warnings, and info messages';


--
-- Name: COLUMN t_system_logs.level; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_system_logs.level IS 'Log level: error, warn, or info';


--
-- Name: COLUMN t_system_logs.source; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_system_logs.source IS 'Source of the log entry (e.g., backend, frontend, n8n)';


--
-- Name: COLUMN t_system_logs.context; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_system_logs.context IS 'Contextual information about where the log occurred';


--
-- Name: COLUMN t_system_logs.metadata; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_system_logs.metadata IS 'Additional structured data in JSON format';


--
-- Name: COLUMN t_system_logs.stack_trace; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_system_logs.stack_trace IS 'Stack trace for error-level logs';


--
-- Name: t_system_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_system_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_system_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_system_logs_id_seq OWNED BY public.t_system_logs.id;


--
-- Name: t_tenants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_tenants (
    id integer NOT NULL,
    tenant_code character varying(50) NOT NULL,
    tenant_name character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    settings jsonb DEFAULT '{}'::jsonb,
    subscription_plan character varying(50) DEFAULT 'basic'::character varying,
    is_admin boolean DEFAULT false
);


--
-- Name: TABLE t_tenants; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_tenants IS 'Multi-tenant isolation - each client has separate data';


--
-- Name: COLUMN t_tenants.tenant_code; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_tenants.tenant_code IS 'Unique identifier for tenant (e.g., kewal, localsing)';


--
-- Name: COLUMN t_tenants.settings; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_tenants.settings IS 'JSON configuration for tenant-specific settings';


--
-- Name: COLUMN t_tenants.is_admin; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_tenants.is_admin IS 'System admin tenant flag - only ONE tenant should have this as true (SaaS owner)';


--
-- Name: t_tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_tenants_id_seq OWNED BY public.t_tenants.id;


--
-- Name: t_transaction_table_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_transaction_table_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_transaction_table_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_transaction_table_id_seq OWNED BY public.t_transaction_table.id;


--
-- Name: t_user_chart_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_user_chart_preferences (
    id integer NOT NULL,
    user_id integer NOT NULL,
    index_id integer NOT NULL,
    line_color character varying(7) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT valid_hex_color CHECK (((line_color)::text ~ '^#[0-9A-Fa-f]{6}$'::text))
);


--
-- Name: TABLE t_user_chart_preferences; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_user_chart_preferences IS 'Stores user-specific chart visualization preferences per index';


--
-- Name: COLUMN t_user_chart_preferences.line_color; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_user_chart_preferences.line_color IS 'Hex color code for chart line. Falls back to theme default if not set.';


--
-- Name: t_user_chart_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_user_chart_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_user_chart_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_user_chart_preferences_id_seq OWNED BY public.t_user_chart_preferences.id;


--
-- Name: t_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.t_users (
    id integer NOT NULL,
    tenant_id integer DEFAULT 1,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    theme_preference character varying(50) DEFAULT 'techy-simple'::character varying,
    environment_preference character varying(10) DEFAULT 'live'::character varying,
    is_live boolean DEFAULT true
);


--
-- Name: TABLE t_users; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.t_users IS 'User accounts with role-based access';


--
-- Name: COLUMN t_users.environment_preference; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_users.environment_preference IS 'User default: live or test environment';


--
-- Name: COLUMN t_users.is_live; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.t_users.is_live IS 'Data environment flag: true=production, false=test';


--
-- Name: t_users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.t_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.t_users_id_seq OWNED BY public.t_users.id;


--
-- Name: m_bookmark_reasons id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.m_bookmark_reasons ALTER COLUMN id SET DEFAULT nextval('public.m_bookmark_reasons_id_seq'::regclass);


--
-- Name: m_transaction_types id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.m_transaction_types ALTER COLUMN id SET DEFAULT nextval('public.m_transaction_types_id_seq'::regclass);


--
-- Name: t_chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_chat_messages ALTER COLUMN id SET DEFAULT nextval('public.t_chat_messages_id_seq'::regclass);


--
-- Name: t_chat_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_chat_sessions ALTER COLUMN id SET DEFAULT nextval('public.t_chat_sessions_id_seq'::regclass);


--
-- Name: t_contact_channels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_contact_channels ALTER COLUMN id SET DEFAULT nextval('public.t_contact_channels_id_seq'::regclass);


--
-- Name: t_contacts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_contacts ALTER COLUMN id SET DEFAULT nextval('public.t_contacts_id_seq'::regclass);


--
-- Name: t_customer_addresses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_customer_addresses ALTER COLUMN id SET DEFAULT nextval('public.t_customer_addresses_id_seq'::regclass);


--
-- Name: t_customer_bookmarks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_customer_bookmarks ALTER COLUMN id SET DEFAULT nextval('public.t_customer_bookmarks_id_seq'::regclass);


--
-- Name: t_customer_master_portfolio id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_customer_master_portfolio ALTER COLUMN id SET DEFAULT nextval('public.t_customer_master_portfolio_id_seq'::regclass);


--
-- Name: t_customers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_customers ALTER COLUMN id SET DEFAULT nextval('public.t_customers_id_seq'::regclass);


--
-- Name: t_file_uploads id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_file_uploads ALTER COLUMN id SET DEFAULT nextval('public.t_file_uploads_id_seq'::regclass);


--
-- Name: t_goal_alerts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_goal_alerts ALTER COLUMN id SET DEFAULT nextval('public.t_goal_alerts_id_seq'::regclass);


--
-- Name: t_goal_progress_snapshots id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_goal_progress_snapshots ALTER COLUMN id SET DEFAULT nextval('public.t_goal_progress_snapshots_id_seq'::regclass);


--
-- Name: t_import_field_mappings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_import_field_mappings ALTER COLUMN id SET DEFAULT nextval('public.t_import_field_mappings_id_seq'::regclass);


--
-- Name: t_import_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_import_logs ALTER COLUMN id SET DEFAULT nextval('public.t_import_logs_id_seq'::regclass);


--
-- Name: t_import_record_results id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_import_record_results ALTER COLUMN id SET DEFAULT nextval('public.t_import_record_results_id_seq'::regclass);


--
-- Name: t_import_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_import_sessions ALTER COLUMN id SET DEFAULT nextval('public.t_import_sessions_id_seq'::regclass);


--
-- Name: t_import_staging_data id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_import_staging_data ALTER COLUMN id SET DEFAULT nextval('public.t_import_staging_data_id_seq'::regclass);


--
-- Name: t_jtbd_configurations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_jtbd_configurations ALTER COLUMN id SET DEFAULT nextval('public.t_jtbd_configurations_id_seq'::regclass);


--
-- Name: t_market_data_records id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_market_data_records ALTER COLUMN id SET DEFAULT nextval('public.t_market_data_records_id_seq'::regclass);


--
-- Name: t_market_download_jobs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_market_download_jobs ALTER COLUMN id SET DEFAULT nextval('public.t_market_download_jobs_id_seq'::regclass);


--
-- Name: t_market_download_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_market_download_logs ALTER COLUMN id SET DEFAULT nextval('public.t_market_download_logs_id_seq'::regclass);


--
-- Name: t_market_eod_scheduler id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_market_eod_scheduler ALTER COLUMN id SET DEFAULT nextval('public.t_market_eod_scheduler_id_seq'::regclass);


--
-- Name: t_market_indices id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_market_indices ALTER COLUMN id SET DEFAULT nextval('public.t_market_indices_id_seq'::regclass);


--
-- Name: t_monthly_portfolio_snapshots id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_monthly_portfolio_snapshots ALTER COLUMN id SET DEFAULT nextval('public.t_monthly_portfolio_snapshots_id_seq'::regclass);


--
-- Name: t_nav_data id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_nav_data ALTER COLUMN id SET DEFAULT nextval('public.t_nav_data_id_seq'::regclass);


--
-- Name: t_nav_download_jobs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_nav_download_jobs ALTER COLUMN id SET DEFAULT nextval('public.t_nav_download_jobs_id_seq'::regclass);


--
-- Name: t_nav_schedule_executions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_nav_schedule_executions ALTER COLUMN id SET DEFAULT nextval('public.t_nav_schedule_executions_id_seq'::regclass);


--
-- Name: t_nav_scheduler_configs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_nav_scheduler_configs ALTER COLUMN id SET DEFAULT nextval('public.t_nav_scheduler_configs_id_seq'::regclass);


--
-- Name: t_scheme_bookmarks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_scheme_bookmarks ALTER COLUMN id SET DEFAULT nextval('public.t_scheme_bookmarks_id_seq'::regclass);


--
-- Name: t_scheme_details id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_scheme_details ALTER COLUMN id SET DEFAULT nextval('public.t_scheme_details_id_seq'::regclass);


--
-- Name: t_scheme_masters id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_scheme_masters ALTER COLUMN id SET DEFAULT nextval('public.t_scheme_masters_id_seq'::regclass);


--
-- Name: t_system_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_system_logs ALTER COLUMN id SET DEFAULT nextval('public.t_system_logs_id_seq'::regclass);


--
-- Name: t_tenants id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_tenants ALTER COLUMN id SET DEFAULT nextval('public.t_tenants_id_seq'::regclass);


--
-- Name: t_transaction_table id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_transaction_table ALTER COLUMN id SET DEFAULT nextval('public.t_transaction_table_id_seq'::regclass);


--
-- Name: t_user_chart_preferences id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_user_chart_preferences ALTER COLUMN id SET DEFAULT nextval('public.t_user_chart_preferences_id_seq'::regclass);


--
-- Name: t_users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.t_users ALTER COLUMN id SET DEFAULT nextval('public.t_users_id_seq'::regclass);


--
-- PostgreSQL database dump complete
--

\unrestrict HMJF5Ut114hwjqNZXQCdDD3j6QAN8LFGudpvHfG5AcRQAB0zyag4H9BfcufIypm

